<form novalidate
      [formGroup]="form">
  <h3>Group Filter</h3>
  <div class="row">
    <div class="col-md-6">
      <input type="text"
             formControlName="stationName"
             class="form-control"
             placeholder="Station Name"
      />
    </div>

    <div class="col-md-6 col-sm-6">
      <select ngDefaultControl class="form-control form-control-lg" formControlName="country">
        <option value=""> Countries</option>
        <option [ngValue]="country" *ngFor="let country of countries">{{country}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="timefrom"
             class="form-control"
             placeholder="time from"
      />
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="timeto"
             class="form-control"
             placeholder="time to"
      />
    </div>

    <div class="col-md-6">
      <input type="text"
             formControlName="pricefrom"
             class="form-control"
             placeholder="price from"
      />
    </div>
    <div class="col-md-6">
      <input type="text"
             formControlName="priceto"
             class="form-control"
             placeholder="price to"
      />
    </div>
    <div class="col-md-12 col-sm-12">
      <button class="btn btn-primary float-right"
              (click)="search(form.value)">Search</button>
    </div>
  </div>
